<main>
  <h1 class="title my-5 page-title">Where to find us</h1>

  <hr>
  <div class="columns">
    <div class="column"></div>

    <div class="column is-two-thirds">
      <div class="mb-6">
        <div class="content has-text-centered">
          <p>Our club's location is at Bussigny, VD. </p>
          <p>Chem. du Refuge, 1030 Bussigny</p>
        </div>
        <div class="map-container">
          <%# <iframe class="responsive-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.427127661372!2d6.541987615233203!3d46.55901816774436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c3156503e6123%3A0xa1657d9c02aafece!2sCynobussigny!5e0!3m2!1sen!2sch!4v1634209321532!5m2!1sen!2sch" allowfullscreen="" loading="lazy"></iframe> %>
        
          <iframe
            class="responsive-iframe"
            width="600"
            height="450"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>
              &q=Cynobussigny
              &center=46.5589016,6.5442158
              &zoom=18">
          </iframe>
        </div>
      </div>
    </div>
    
    <div class="column"></div>
  </div>
</main>