<%= render partial: 'account_navbar', locals: { nav: "chat" } %>

<div class="block m-6">
  <h1 class="title page-title">Chat</h1>

  <div class="columns">
    <div class="column is-four-fifths">
      <ul id="conversations-list">
        <% @conversations.each do |conversation| %>
          <% if(conversation.present?) %>
            <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="column">
      <div class="panel is-primary">
        <div class="panel-heading">
          <h3 class="panel-title">User list</h3>
        </div>
        <div class="panel-body users-list">
          <ul>
            <% @users.each do |user| %>
              <li><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post, class: 'panel-block' %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>