<div class="columns is-mobile">
  <div class="column"></div>

  <div class="column is-two-thirds">
    <div class="box m-6">
      <h1 class="title"><%= translate('newforum') %></h1>
      <%= render 'post_form', post: @post %>
    </div>
  </div>

  <div class="column"></div>
</div>