<div class="columns is-mobile">
  <div class="column"></div>

  <div class="column is-two-thirds">
    <div class="box m-6">
      <h1 class="title"><%= translate('newblog') %></h1>
      <%= render 'blog_form', blog: @blog %>
    </div>
  </div>

  <div class="column"></div>
</div>