html {
  // background-color: rgb(255, 221, 227);
}

.trainer_class_title {
  background-color: hsl(171, 100%, 41%);
  color: #fff;
  border-radius: 2px;
  display: block;
  padding: 0.5em 0.75em;
}

.menu-label {
  margin: 0;
}

.menu {
  li {
    padding: 0.4rem;
  }
}

.menu-list {
  p {
    padding: 0.5em 0.75em;
  }
}

.keep-format {
  white-space: pre-wrap;
}

.center-text {
  text-align: center;
}

.button-center {
  justify-content: center;
}

img {
  object-fit: contain;
}

.pagination-link.is-current {
  background-color: hsl(171, 100%, 41%);
  border-color: hsl(171, 100%, 41%);
}
// ------------------------------------- Custom Photo Slider (JS) --------------------------------------

* {box-sizing:border-box}

.slideshow-container {
  max-width: 100%;
  position: relative;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: hsl(171, 100%, 41%);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  &:hover {
    background-color: rgba(153, 153, 153, 0.8);
  }
}

.next {
  right: 0; // position on the right
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: #c7c7c7;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

// --------------------------------------- Custom Photo Gallery Grid --------------------------------------

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  grid-gap: 0.2rem;
  box-sizing: border-box;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-grid-row-2 {
  grid-row: span 2;
}

.page-title {
	text-align: center;
  font-weight: 300;
}

// --------------------------------------- Embedded Google Maps --------------------------------------

.map-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 75%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

// --------------------------------------- Chat --------------------------------------
	
#conversations-list{
  > li {
    margin-bottom: 1rem;
  }
}

.row {
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 1rem;
  margin: 5px;
}

.message-sent {
  color: hsl(0, 0%, 14%);
  border-color: hsl(171, 100%, 41%);
  border-radius: 4px;
  border-style: solid;
  border-width: 0 4px 0 0;
  padding: 0.5em 0.75em;
  text-align: right;
}

.message-received {
  color: hsl(0, 0%, 14%);
  border-color: hsl(217, 71%, 53%);
  border-radius: 4px;
  border-style: solid;
  border-width: 0 0 0 4px;
  padding: 0.5em 0.75em;
}

.messages-list {
  display: flex;
  flex-direction: column-reverse;
  max-height: 50vh;
  overflow-y: scroll;
}

.users-list {
  max-height: 55vh;
  overflow-y: scroll;
}