<footer class="footer">
  <div class="columns">

    <div class="column has-text-centered">
      <div class="content">
        <p>
          <strong>Web Dog</strong> by <a href="https://tatianatuor.com">Tatiana Tuor</a>
        </p>
        <p> Copyright &copy; <%= Time.now.year %> Web Dog </p>
      </div> 
    </div>

    <div class="column has-text-centered">
      <div class="content">
        <p class="menu-label">
          <%= link_to("Gallery", gallery_path) %>
        </p>
        <p class="menu-label">
          <%= link_to("Information", info_path) %>
        </p>
      </div> 
    </div>


    <div class="column has-text-centered">
      <nav class="nav">
        <p class="nav-link disabled pl-0 menu-label">Select language:</p>      
        <% I18n.available_locales.each do |locale| %>
          <%= link_to locale, url_for(locale: locale) %>
        <% end %>
      </nav>
    </div>

  </div>
</footer>