<% if model.errors.any? %>
  <div class="notification is-danger is-light">
    <p><%= pluralize(model.errors.count, "error") %> prohibited this from being saved:</p>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>